CONFLUENT_BOOTSTRAP_SERVERS=<your-cluster>.<your-region>.<your-cloud-provider>.confluent.cloud:<your-port>    
CONFLUENT_SASL_SSL=SASL_SSL
CONFLUENT_CONNECTION_METHOD=PLAIN
CONFLUENT_USERNAME=<your-api-key> 
CONFLUENT_API_KEY=<your-api-secret>